@font-face {
  font-family: 'RobotoRegular';
  src: url(RobotoSlab-Regular-webfont.ttf),
      url(RobotoSlab-Regular-webfont.otf),
      url(RobotoSlab-Regular-webfont.woff),
      url(RobotoSlab-Regular-webfont.eot),
      url(RobotoSlab-Regular-webfont.svg);
}

@page {
  margin-bottom: 5pt;
  margin-top: 5pt
}

/* Common styles */
body {
  display: block;
  margin: 5pt;
  page-break-before: always;
  text-align: justify;
}
body.page-list,
body.page-inner {
  margin: 0;
}
h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}
p {
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}
a {
  color: #000;
  text-decoration: inherit;
  cursor: default;
}
a[href] {
  text-decoration: none;
  cursor: pointer;
}
a:link, a:visited, a:hover, a:active {
    -webkit-text-fill-color: #000;
}
.center {
  text-align: center;
}
.right {
  float: right;
}
.left {
  float: left;
}
.cover {
  height: 100%;
}
.logo {
  display: block;
  margin: 0 auto;
}

/* Book styles */
.book-info {
  font: 15px/20px Georgia, Arial, sans-serif;
  margin: 20px 0 0 0;
}

.book-grey {
  color: #999999;
}

a.book-grey,
a.book-grey:link,
a.book-grey:visited,
a.book-grey:hover,
a.book-grey:active {
  color: #999999;
  -webkit-text-fill-color: #999999;
  text-decoration: underline;
}

.book-toc {
  padding-left: 0px;
  width: 100%;§
}

.book-toc a {
  padding: 15px 0;
  text-decoration: none;
  font: 18px/21px 'RobotoRegular', Arial, sans-serif;
}

.book-toc li {
  border-bottom: 1px solid #000;
  padding: 15px 0;
  list-style-type: none;
}

/* Header */
.header {
  border-bottom: 1px solid #cccccc;
  text-align: left;
}

.header .logo {
  margin: 0;
}

.header .book-info {
  margin-top: 0;
}

/* Links */
.links {
  margin-bottom: 40px;
  font-size: 12px;
  text-align: left;
}

.links.bottom {
  margin-top: 40px;
}

.links .next,
.links .next:link,
.links .prev,
.links .prev:link {
  padding: 10px 0;
}

.links span {
  color: #999999;
}


/* Main */
h1 {
  font: 30px 'RobotoRegular', Arial, sans-serif;
  margin: 0;
}

.list {
  margin: 10px 0;
}

.list-item {
  overflow: hidden;
  padding: 5px 0;
}

.list-item a {
  text-decoration: none;
  font-size: small;
}

.title {
  display: inline-block;
  font: bold 16px Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.text {
  font: 15px/18px Georgia, sans-serif;
  color: #808080;
  margin: 10px 0 0 0;
}

/* Article */
.page-inner p {
  margin: 0;
}

.article-header {
  font: 36px Arial, sans-serif;
  margin-bottom: 15px;
}

.article-subheader {
  font: italic 18px/21px Georgia, Arial, sans-serif;
}

.article-info {
  margin-top: 20px;
  font: 13px/15px Arial, sans-serif;
}

.article-date {
  margin-right: 20px;
}

.article-source {
  margin-bottom: 10px;
}

.article-image {
  overflow: hidden;
  margin: 25px 0;
}

.article-image img {
  margin-right: 20px;
  margin-bottom: 10px;
}

.article-image p {
  font: 13px/15px Arial, sans-serif;
}

.article-image .book-grey {
  margin-top: 7px;
  word-break: break-all;
}

.page-inner .article-text {
  font: 18px/24px Georgia, Arial, sans-serif;
  margin-bottom: 20px;
}

.article-inset-text,
.article-inset-chronology,
.article-inset-quote,
.article-inset-company {
  margin: 25px 0;
  padding: 0;
  /*border-top: 1px solid #cccccc;*/
  /*border-bottom: 1px solid #cccccc;*/
  font: 15px/21px Arial, sans-serif;
}

.article-inset-quote {
  font: italic 23px/27px Georgia, Arial, sans-serif;
}

.article-inset-quote p {
  font: 15px/21px Arial, sans-serif;
  margin-top: 20px;
}

.article-inset-company p {
  margin-bottom: 10px;
}

.article-inset-company p:last-child {
  margin-bottom: 0;
}

.page-inner .article-inset-title {
  margin-bottom: 10px;
}

.article-inset-chronology-item {
  margin-bottom: 10px;
}

.article-inset-chronology-item span {
  padding-right: 10px;
}


.article-relative .text {
  margin-top: 10px;
}
