<%= @user.first_name %>, добрый день!

Чтобы изменить пароль для входа на сайт vedomosti.ru, перейдите по этой ссылке:
<%= @url %>

Оставайтесь с нами.

Ваши «Ведомости»,
+7 (495) 232-17-53
podpiska@vedomosti.ru