
<%= @user.first_name %>, добрый день!

Вы авторизовались на сайте vedomosti.ru при помощи своего аккаунта в соцсетях.
Пройдите по ссылке для подтверждения вашего аккаунта:

<%= @url %>

Оставайтесь с нами.

Ваши «Ведомости»,
+7 (495) 232-17-53
podpiska@vedomosti.ru