В профиле пользователя изменился статус автопролонгации на "отключено"

Редактировать пользователя в админке: <%= @url %>
Идентификатор пользователя: <%= @user.id %>

Подписки пользователя:

<% @user.access_rights.where.not(start_date: nil, end_date: nil).each do |access_right| %>
  <% if access_right.payment %>
  Подписка: <%= access_right.payment.subproduct.title %>(<%= access_right.payment.subproduct.id %>)
  Период: <%= access_right.payment.start_date.strftime('%d.%m.%Y') %> -  <%= access_right.payment.end_date.strftime('%d.%m.%Y') %>
  -----------------------------
  <% else %>
    Что-то не так!
    Номер заказа: <%= access_right.order_id %>
    Период: <%= access_right.start_date.strftime('%d.%m.%Y') %> -  <%= access_right.end_date.strftime('%d.%m.%Y') %>
  <% end %>
<% end %>