<h2>Здравствуйте!</h2>

<h4>Поступила заявка на корпоративную подписку от <%= @title %></h4>
<br>
<p>Желаемое количество печатных версий газеты: <%= @newspaper_count %>, доступов на сайте: <%= @online_count %>.<p>
<br>
<p>Контактное лицо: <%= @name %></p>
<p>Телефон: <%= @phone %></p>
<p>Email: <%= @email %></p>
