Здравствуйте!

Поступила заявка на корпоративную подписку от <%= @title %>

Желаемое количество печатных версий газеты: <%= @newspaper_count %>, доступов на сайте: <%= @online_count %>.

Контактное лицо: <%= @name %>
Телефон: <%= @phone %>
Email: <%= @email %>
