Здравствуйте!

Напоминаем Вам, что <%= Russian::strftime(@billing_date,"%e %B") %> произойдет автоматическое продление Вашей подписки на "Ведомости". С Вашей банковской карты будет списано <%= @price %> рублей за подписку на <%= @period %>.

Чтобы подписка не была остановлена, убедитесь, что на Вашем счету есть необходимая сумма.
Для отказа от автоматического списания позвоните в отдел подписки по телефону +7 (495) 232 17 53 с пн. - пт. с 9.00 до 18.00
Хороших новостей Вам!

Ведомости.Подписка
podpiska@vedomosti.ru
