<p>Здравствуйте!</p>

<p>Напоминаем Вам, что <%= Russian::strftime(@billing_date,"%e %B") %> произойдет автоматическое продление Вашей подписки на "Ведомости". С Вашей банковской карты будет списано <%= @price %> рублей за подписку на <%= @period %>.</p>

<p>Чтобы подписка не была остановлена, убедитесь, что на Вашем счету есть необходимая сумма.</p>
<p>Для отказа от автоматического списания позвоните в отдел подписки по телефону +7 (495) 232 17 53 с пн. - пт. с 9.00 до 18.00</p>
<p>Хороших новостей Вам!</p>

<p>Ведомости.Подписка</p>
<p><a href="mailto:podpiska@vedomosti.ru">podpiska@vedomosti.ru</a></p>
