<?xml version="1.0" encoding="utf-8"?>
<entry xmlns="http://www.w3.org/2005/Atom" xmlns:adriver="http://adriver.ru/ns/restapi/atom">
  <title>Banner Atom Entry</title>
  <id>urn:uuid:1225c695-cfb8-4ebb-aaaa-80da344efa6a</id>
  <updated>2011-07-08T16:11:11+04:00</updated>
  <author>
    <name>Adriver::RestAPI</name>
  </author>
  <content type="text/xml">
    <banner xmlns="http://adriver.ru/ns/restapi/atom" type="54" spec="109">
      <userEnable>1</userEnable>
      <burst_mode>1</burst_mode>
      <priority>9</priority>
      <target_url><%= "http://www.#{document.url}" %></target_url>
      <period>
        <startDate><%= Date.today.strftime('%Y-%m-%d') %></startDate>
        <stopDate><%= 1.month.from_now.strftime('%Y-%m-%d') %></stopDate>
      </period>
      <limits>
        <total>
          <exposures>0</exposures>
          <clicks>0</clicks>
          <uniqClicks>0</uniqClicks>
        </total>
        <daily>
          <exposures>0</exposures>
          <clicks>0</clicks>
        </daily>
        <frequency>
          <daily>0</daily>
          <weekly>0</weekly>
          <monthly>0</monthly>
        </frequency>
      </limits>
      <alt>Пресс-релиз <%= document.title %></alt>
      <comment>ID <%= document.id %>, <%= document.published_at.strftime('%d.%m.%Y') %></comment>
    </banner>
  </content>
  <adriver:userId><%= adriver_client.user_id %></adriver:userId>
  <adriver:adPlacementId><%= ad_placement_id %></adriver:adPlacementId>
</entry>
