Поступило новое сообщение "<%= @feedback.type_label %>".

ID сообщения: <%= @feedback.id %>
ID пользователя: <%= @feedback.user_id || 'не указан' %>
Имя пользователя: <%= @feedback.username %>
E-mail (указанный): <%= @feedback.email %>
E-mail (при регистрации): <%= @feedback.user.email if @feedback.user %>
Телефон: <%= @feedback.phone %>

Сообщение:
---
<%= @feedback.message %>
---

Нужен обратный звонок? <%= @feedback.callback ? 'да' : 'нет' %>
Дата отправки: <%= @feedback.created_at.strftime('%Y-%m-%d %H:%M') %>
