p Поступило новое сообщение "#{@feedback.type_label}".

p
  strong ID сообщения:&nbsp;
  = @feedback.id

p
  strong ID пользователя:&nbsp;
  = @feedback.user_id || 'не указан'


- if @feedback.price_id
  p
    strong Что заказано:&nbsp;
    ul
      li Тип: "#{@feedback.price.product}"
      li Срок: "#{@feedback.price.period}"
      li Студент? "#{@feedback.price.student ? 'да' : 'нет'}"
      li Стоимость: "#{@feedback.price.value}"

p
  strong Имя пользователя:&nbsp;
  = @feedback.username

p
  strong E-mail указанный:&nbsp;
  = @feedback.email

p
  strong E-mail регистрации:&nbsp;
  - if @feedback.user
    = @feedback.user.email || 'не указан'

p
  strong Телефон:&nbsp;
  = @feedback.phone

p
  strong Сообщение:

p = @feedback.message

p
  strong Нужен обратный звонок?&nbsp;
  = @feedback.callback ? 'да' : 'нет'

p
  strong Дата отправки:&nbsp;
  = @feedback.created_at.strftime('%Y-%m-%d %H:%M')

p
  strong Технические данные:
  br
  pre = "access_token = #{@feedback.access_token}"
  pre = JSON.pretty_generate(@feedback.user_data)
