Здравствуйте, <%= @user.full_name %>!

Ваш заказ №<%= @order.id %> на подписку «Онлайн» оплачен.
Подписка на пакет «Онлайн» действует до <%= @order.end_date.strftime('%d.%m.%Y') %>

Вы можете уточнить детали заказа в личном кабинете, по телефону +7 (495) 232-17-53
и электронной почте podpiska@vedomosti.ru.

Спасибо, что выбираете «Ведомости».

--
С уважением, «Ведомости»
+7 (495) 232-17-53, podpiska@vedomosti.ru
