Здравствуйте, <%= @user.full_name %>!

Благодарим Вас за оформление заказа на сайте Vedomosti.ru.
Оплата прошла успешно.
Номер Вашего заказа №<%= @order.id %> .
Детали заказа и сроки оказания услуг Вы можете уточнить по телефону +7 (495) 232-17-53 и электронной почте podpiska@vedomosti.ru.

Спасибо, что выбираете «Ведомости».
