- if banner.type == 'picture'

  tr
    td width=15
    td colspan=4 align="center"
      a href="#{banner.url}" style='text-decoration: none;'
        img{
          src="#{Settings.hosts.cdn}#{banner.picture['url']}" 
          width="100%" 
          height="auto"
          style="display: block;"
          border=0}
    td width=15
        
- elsif banner.type == 'text'

  tr
    td width=15
    td colspan=4
      table border=1 bordercolor="#e3d1c7" cellpadding=0 cellspacing=0 width="100%" style="border-collapse: collapse;"
        tr
          td
            table border=0 width="100%" cellpadding=0 cellspacing=0 style="border-collapse: collapse;"
              tr
                td width=15
                td
                  br
                  a href="#{banner.url}" style='text-decoration: none; font-style: italic; font-weight: bold;'
                    font color="#857871" face="Georgia" size=4
                      b #{banner.title}
                  br
                  br
                  a href='#{banner.url}' style='text-decoration: none;'
                    font color="#857871" face="Arial" size=2 == banner.body
                  br
                  br
                  font color="#857871" face="Arial" size=2  Реклама
                  br
                  br
                td width=15
    td width=15
    
- elsif banner.type == 'embed'

  tr
    td width=15
    td colspan=4 align="center"
      == banner.embed
      / For testing
      / = render partial: 'mailing_generators/newsrelease/paywall'
    td width=15
