tr#info
  td width=15
  td align='center' colspan=4
    img border=0 src='http://www.vedomosti.ru/static/letter/warning.png' style="vertical-align: bottom;"
    | &nbsp;&nbsp;
    font color='#88807a' face='Georgia' size=3 style="font-style: italic;"
      | Полная версия материалов доступна подписчикам «Ведомостей». Подписаться вы можете
      | &nbsp;
      a href="http://buy.vedomosti.ru/" target='_blank' style="text-decoration: underline; color: #2e6f6f;" здесь
    br
    br
    br

  td width=15

tr#header
  td width=15
    img src='http://www.vedomosti.ru/static/letter/padding.jpg' style='display: block;' border=0 width=15
  td align='center' colspan=4 height=106
    a href='http://www.vedomosti.ru/' target='_blank'
      img alt='Ведомости' border=0 width=376 height=106 src='http://www.vedomosti.ru/static/letter/logo.jpg' style='display: block;'
  td width=15
    img src='http://www.vedomosti.ru/static/letter/padding.jpg' style='display: block;' border=0 width=15
  
/ tr#date align='center'
/   td width=15
/   td colspan=4
/     font color='#88807a' face='Georgia' size=3
/       i #{Russian::strftime(@newsrelease.published_at, "%A, %d %B")}
/   td width=15
/     img src='http://www.vedomosti.ru/static/letter/padding.jpg' style='display: block;' border=0
