doctype html
html
  head
    meta content="text/html; charset=utf-8" http-equiv="Content-Type"
    title "#{@newsrelease.title} от #{@newsrelease.published_at.strftime('%d.%m.%Y')}"

    css:
      a {
        text-decoration: none;
      }
    
      div, p, a, li, td {
        -webkit-text-size-adjust: none;
      }

      @media only screen and (max-width: 480px) {
        table[class='body']{width: 320px!important}
      }
      
      @font-face {
        font-family: 'RobotoLight';
        font-style: normal;
        font-weight: normal;
        src: url(https://cdn.vedomosti.ru/assets/RobotoSlab-Light-webfont.woff) format('woff');
      }

      @font-face {
        font-family: 'RobotoRegular';
        font-style: normal;
        font-weight: normal;
        src: url(https://cdn.vedomosti.ru/assets/RobotoSlab-Regular-webfont.woff) format('woff');
      }

  body
    table.wrapper bgcolor="#e3d1c7" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;"
      tr
        td height="45"
          span style='display:none !important; visibility:hidden; opacity:0; color:transparent; height:0; width:0;'
            font size=0 color='#e3d1c7' #{@pages[0].documents[0].title}
            br
            font size=0 color='#e3d1c7' #{@pages[0].documents[0].subtitle}

      tr align="center"
        td
          table.body bgcolor="#fff6f1" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;"

            = render partial: 'mailing_generators/newsrelease/dividers/default', locals: {height: 15, colspan: 6}

            /!
              banner:110

            = render partial: 'mailing_generators/newsrelease/dividers/default', locals: {height: 30, colspan: 6}

            = render 'mailing_generators/newsrelease/header_free'

            = render partial: 'mailing_generators/newsrelease/body', collection: @pages, as: :page, locals: {banner_position: false, free: true }

            = render partial: 'mailing_generators/newsrelease/dividers/default', locals: {height: 55, colspan: 6}
            
            /!
              banner:100

            = render partial: 'mailing_generators/newsrelease/dividers/default', locals: {height: 30, colspan: 6}

            /!
              banner:120
                
            = render partial: 'mailing_generators/newsrelease/dividers/default', locals: {height: 50, colspan: 6}

            = render partial: 'mailing_generators/newsrelease/ad/companies'

            = render partial: 'mailing_generators/newsrelease/dividers/default', locals: {height: 25, colspan: 6}

            = render partial: 'mailing_generators/newsrelease/ad/application'

            = render partial: 'mailing_generators/newsrelease/dividers/default', locals: {height: 3, colspan: 6}

            = render 'mailing_generators/newsrelease/footer'
            
      tr
        td height="45"
          span style='display:none !important; visibility:hidden; opacity:0; color:transparent; height:0; width:0;'
            font size=0 color='#e3d1c7' #{@pages[0].documents[0].title}
            br
            font size=0 color='#e3d1c7' #{@pages[0].documents[0].subtitle}
