table border=1 bordercolor="#e3d1c7" cellpadding=0 cellspacing=0 width="328" height="118" style="background-color: #fff; border-radius: 20px;"

  tr height="75px"
    td width="35%" align="center" valign="bottom" bgcolor="#fff" style="border: none; border-radius: 20px 0 0 0;"
      del style="color: #332f2e; font-family: 'RobotoRegular', Arial; font-size: 30px;"
        | 9420
    td width="65%" align="left" valign="bottom" bgcolor="#fff" style="border: none; border-radius: 0 20px 0 0;"
      span style="color: #cc3333; font-family: 'RobotoLight', Arial; font-size: 48px;"
        | 4920
      span style="color: #cc3333; font-family: 'RobotoLight', Arial; font-size: 20px;"
        | руб.
        
  tr height="45px"
    td width="35%" align="center" valign="top" bgcolor="#fff" style="border: none; border-radius: 0 0 0 20px;"
    td width="65%" align="left" valign="top" bgcolor="#fff" style="border: none; border-radius: 0 0 20px 0;"
      span style="color: #857871; font-family: 'RobotoRegular', Arial; font-size: 18px;" 12 месяцев

p{style="text-align: center; font-family: Arial; font-size: 16px; color: #332f2e;"}
  | Подпишитесь, чтобы получить полный доступ к свежему номеру и читать "ведомости" без ограничений
	
table cellpadding=0 cellspacing=0 width="328" height="50"
  tr
    td bgcolor="#2e6f6f" align="center" style="border: 1px solid #2e6f6f; border-bottom: 5px solid #255959;"
      a href="#" style="text-decoration: none; font-weight: bold; text-align: center; color: #fff; width: 100%; height: 45px; line-height: 45px; display: inline-block;"
        span style="font-size: 18px; font-family: Arial;"
          | Подписаться
