<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body>
    <p>
      <br />
      <br />
      <br />
      <br />
      <br />
    </p>
    <div>
      <img src="logo.png" class="logo" />
    </div>
    <hr />
    <p class="center book-grey book-info">
      <%= xhtml_fix newsrelease.title %> от <%= xhtml_fix newsrelease_date.strftime('%d.%m.%y') %>
    </p>
  </body>
</html>
