<div class="b-about-table__header">
  <div class="b-about-table__title-text">Общая информация</div>
</div>
<table class="b-about-table">
    <tr>
      <td>
        Краткое наименование
      </td>
      <td>
        <%= common_info[:short_name] %>
      </td>
    </tr>
    <tr>
      <td>
        Руководитель
      </td>
      <td>
        <%= "#{common_info[:leader].try(:[], :name)} - #{common_info[:leader].try(:[], :position)}" %>
      </td>
    </tr>
</table>