<div class="b-about-table__header">
  <div class="b-about-table__title-text">Совладельцы (Источник: ЕГРЮЛ)</div>
  <div class="b-about-table__title-meta">Дата обновления в СПАРК: <%= coowners_egrul[:actual_date] %></div>
</div>
<table class="b-about-table">
  <thead>
    <th>Наименование</th>
    <th>Местонахождение</th>
    <th>Доля в УК, руб.</th>
    <th>Доля в УК, %</th>
    <th>Дата внесения в ЕГРЮЛ</th>
  </thead>
  <tbody>
  <% coowners_egrul.except(:count, :actual_date).each do |name, value| %>
      <tr>
        <td> <%= name %> </td>
        <td> <%= value[:address] %> </td>
        <td> <%= (value[:share_part_rur].to_i / 1000).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1psbn&').reverse %> </td>
        <td> <%= value[:share_part] %> </td>
        <td> <%= value[:input_date] %> </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="b-about-table__footer">
  <div class="b-about-table__footer-text">Общее число: <%= coowners_egrul[:count] %></div>
</div>