<div class="b-about-table__header">
  <div class="b-about-table__title-text">Совладельцы (Источник: Данные компании)</div>
  <div class="b-about-table__title-meta">Дата обновления в СПАРК: <%= coowners_fcsm[:actual_date] %></div>
</div>
<table class="b-about-table">
  <thead>
    <th>Наименование</th>
    <th>Местонахождение</th>
    <th>Вид зарегестрированного лица</th>
    <th>Доля в УК, %</th>
  </thead>
  <tbody>
  <% coowners_fcsm.except(:count, :actual_date).each do |name, value| %>
    <tr>
      <td> <%= name %> </td>
      <td> <%= value[:address] %> </td>
      <td> <%= value[:type_holder] %> </td>
      <td> <%= value[:share_part] %> </td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="b-about-table__footer">
  <div class="b-about-table__footer-text">Общее число: <%= coowners_fcsm[:count] %></div>
</div>