<div class="b-about-table__header">
  <div class="b-about-table__title-text">Финансовая информация</div>
  <div class="b-about-table__title-meta">Баланс, тыс. RUB</div>
</div>
<table class="b-about-table">
  <thead>
    <th>Наименование</th>
    <% finance_info[:periods].each do |period| %>
      <th class="b-align_center"><%= period %></th>
    <% end %>
  </thead>
  <tbody>
  <% finance_info[:data].each do |key, value| %>
    <tr>
      <td>
        <%= key %>
      </td>
      <% value.each do |period_value| %>
        <td class="b-align_right">
          <%= (period_value.to_i / 1000).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1psbn&').reverse %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>