<div class="b-spark__logo">
  <div class="b-spark__data-presents">Данные предоставлены:</div>
  <a target="_blank" href="http://www.spark-interfax.ru/" rel="nofollow"><img class="b-spark__logo-image" src="<%= Settings.hosts.shark%>/assets/spark_logo.png"/></a>
</div>