doctype html
html
  head
    meta content=("text/html; charset=utf-8") http-equiv="Content-Type"
    title Статистика просмотров по авторам
    css:
      table {
        width: 100%;
      }
      table, td, th {
        border: 1px solid #000000;
      }

  body
    - if @result['aggregations']['authors']['buckets'].present?

      h1 Отчет по авторам с #{@report.start_date} по #{@report.end_date}

      - @result['aggregations']['authors']['buckets'].each do |author|
        - if author[:document].present?
          table.table.table-striped
            caption
              h3= author[:document].title
            tr
              th #
              th Статья
              th Всего
              th Google
              th Яндекс
              th Ведомости
              th Вклад
              th %
              th Авт.
            tr
              th
              th
              th= number_with_delimiter(author['doc_count'])
              th= number_with_delimiter(author['total_from_google']['doc_count'])
              th= number_with_delimiter(author['total_from_yandex']['doc_count'])
              th= number_with_delimiter(author['total_from_vedomosti']['doc_count'])
              th
              th
                span.label.label-success= percent(@result['hits']['total'], author['doc_count'])
              th
            - author['articles']['buckets'].each_with_index do |article, index|
              - if doc = document(article['key'])
                - if article['doc_count'] > 10
                  tr
                    td= index + 1
                    td
                      a{href="http://www.vedomosti.ru#{article['key']}" target='_blank'}= doc.title
                    td= number_with_delimiter(article['doc_count'])
                    td= number_with_delimiter(article['from_google']['doc_count'])
                    td= number_with_delimiter(article['from_yandex']['doc_count'])
                    td= number_with_delimiter(article['from_vedomosti']['doc_count'])
                    td #{number_with_delimiter(article['doc_count']/(doc.links[:authors].try(:length) ? doc.links[:authors].length : 1 ))}
                    td
                      span.label.label-success= percent(@result['hits']['total'], article['doc_count'])
                    td
                      span.label.label-info #{(doc.links[:authors].try(:length) ? doc.links[:authors].length : 1 )} авт.
    - else
      | Данные не найдены
