table.footer border=0 width="60%" colspan=0 rowspan=0 style='border-collapse: collapse;'
  tr
    td align="center"
      br
      p «Ведомости» в социальных сетях
  tr
    td align="center"
      a href='http://www.facebook.com/Vedomosti' target='_blank'
        img alt='facebook' border=0 src='http://www.vedomosti.ru/assets/mailings/fb.png'
      | &nbsp;&nbsp;
      a href='http://twitter.com/vedomosti' target='_blank'
        img alt='twitter' border=0 src='http://www.vedomosti.ru/assets/mailings/tw.png'
      | &nbsp;&nbsp;
      a href='http://vk.com/vedomosti' target='_blank'
        img alt='vk' border=0 src='http://www.vedomosti.ru/assets/mailings/vk.png'
  tr
    td align="center"
      p Приложение «Ведомости»:
  tr
    td align="center"
      a href='http://www.facebook.com/Vedomosti' target='_blank'
        img alt='googleplay' border=0 src='http://www.vedomosti.ru/assets/mailings/gp.png'
      | &nbsp;&nbsp;
      a href='http://twitter.com/vedomosti' target='_blank'
        img alt='appstore' border=0 src='http://www.vedomosti.ru/assets/mailings/as.png'
  
  = render partial: 'mailing_generators/template_kit/divider', locals: {color: '#544b48'}

  tr
    td
      p
        | Вы получили это сообщение, т.к. ранее подписались на рассылку «Ведомостей».
      p  
        a href="#" Отписаться от рассылок
      p 
        | Все права защищены © АО Бизнес Ньюс Медиа, 1999 – 2016
      br
      br
