doctype html
html
  head
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    meta content="text/html; charset=utf-8" http-equiv="Content-Type"
    title = @mailing.subject
    
    <!--[if !mso]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    
    <!--[if gte mso 15]>
      css:
        * { 
          mso-line-height-rule: exactly; 
        }
        table { 
          font-size: 1px; 
          line-height: 0; 
          mso-margin-top-alt: 1px; 
          mso-line-height-rule: exactly; 
        }
    <![endif]-->

    css:
      @media (max-width: 480px) {
        table.footer,
        table.body {
          width: 95%!important
        }
      }
      html, body {
        margin: 0;
        padding: 0;
      }
      div, p, a, li, td {
        -webkit-text-size-adjust: none;
      }
      h1 {
        font: 24px/24px Arial;
        margin: 15px 0;
        color: #332f2e;
      }
      p {
        font: 16px/21px Arial;
        margin: 15px 0;
        color: #332f2e;
      }
      a {
        font-family: Arial;
        color: #2e6f6f;
      }
      img {
        margin: 15px 0;
        text-align: center;
        border: none;
        outline: none;
      }
      ul li {
        font: 16px/21px Arial;
        margin-bottom: 15px;
        color: #332f2e;
      }
      span {
        font: 15px/21px Arial;
      }
      .footer p,
      .footer p a {
        font-size: 14px;
        line-height: 18px;
        color: #857871;
        margin-bottom: 0;
      }
      
  body
    table.wrapper bgcolor="#fff6f1" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;"
      tr
        td align="center"
          table.body border="0" cellpadding="0" cellspacing="0" width="60%" style="border-collapse: collapse;"

            = render partial: 'mailing_generators/template_kit/header'
            = render partial: 'mailing_generators/template_kit/divider', locals: {color: '#e3d1c7'}

            - @template_kit.each do |item|
              = render partial: "mailing_generators/template_kit/blocks/#{item[:type]}", locals: {item: item}
            
      tr
        td height="350" bgcolor="#332f2e" align="center"
          = render 'mailing_generators/template_kit/footer'
