tr
  td width="15"
  td colspan="4"
    font color="#857871" face="Arial" size="3"
      b СООБЩЕНИЯ КОМПАНИЙ
  td width="15"

  = render partial: 'mailing_generators/newsrelease/dividers/default', locals: {height: 10, colspan: 6}

  tr
    td width="15"
    td colspan="4"
      table border="1" bordercolor="#e3d1c7" cellpadding="0" cellspacing="0" width="100%"
        - @press_releases.each do |press_release|
          tr
            td
              table width="100%"
                tr height="10"
                  td colspan="3"
                  td
                tr
                  td width="3"
                  td
                    table border="0" width="100%"
                      tr
                        td
                          a href="#{full_url(press_release.url)}" style="text-decoration: none"
                            font color="#857871" face="Arial" font="" size="3"
                              b #{press_release.company.title}
                      tr height="5"
                        td
                      tr
                        td
                          font color="#857871" face="Arial" font="" size="3"  #{press_release.title}
                      tr height="3"
                        td
                  td width="3"
                tr
    td width="15"
